<h3><em>Обробка та аналіз БМД Лабораторна 7 Кононов Антон БС-82</em></h3>
<h5>t-критерій Стьюдента для незалежних вибірок</h5>

<h6>Завдання</h6>

1. Обрати реальні дані з kaggle або сгенерувати випадкові дані. Дані мають відповідати вимогам викладеним вище.

2. Побудувати графік, що відображає розкид даних в групах.

3. Написати функції:

4. для оцінки вімінностей дисперсій між групами за критерієм Лівеня. Функція має повертати значення тесту та результат оцінки рівності дисперсій (significant або not significant).

5. для визначення відмінності між групами за критерієм Стьюдента в залежності від рівності/відмінності дисперсій. Функція має повертати значення критерію Стьюдента,значення ступеня свободи та результат оцінки значимості зв'зку (significant або not significant).

4. Перевірити розбіжність на між групами на даних з п. 1.

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.random import randint

In [28]:
col_1 = randint(0, 20, 31)
col_2 = randint(0, 20, 31)
data = pd.DataFrame({"Малий басейн": col_1, "Великий басейн": col_2,})
data.index.name = 'Число місяця'
data.columns.name = 'Кількість відвідувачів'
data

Кількість відвідувачів  Малий басейн  Великий басейн
Число місяця
0                                 12               5
1                                 19              15
2                                  4               3
3                                  3               0
4                                  5              14
5                                  5               5
6                                 15              18
7                                 10              15
8                                 13               8
9                                  7              10
10                                14              15
11                                15               2
12                                 2              15
13                                 5              16
14                                14              19
15                                16              15
16                                 9               0
17                                 7              13
18                                16              13
19                                11               1
20                                 6              16
21                                 2               0
22                                18               0
23                                12              13
24                                 0               4
25                                13               4
26                                 7              11
27                                12               4
28                                 3              12
29                                 9              17
30                                15              14

     GENDER   VOTES
0      MALE  377374
1      MALE  318814
2      MALE  314238
3       NaN   13036
4      MALE  646875
...     ...     ...
2258   MALE   14686
2259   MALE  434244
2260   MALE  428015
2261   MALE  138947
2262    NaN   11140

[2263 rows x 2 columns]

In [21]:
votes_male = []
votes_female = []
N = data.shape[0]
male = data["GENDER"][1]
("MAlE" in data["GENDER"][i])
for i in range(N):
    if male in data["GENDER"][i]:
        votes_male.append(data["VOTES"][i])
    else:
        votes_female.append(data["VOTES"][i])

TypeError: argument of type 'float' is not iterable